html,body{
    height: 100%;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    background-color: #494748;
    display: flex; 
    align-items: center;
    justify-content: center; 
    width: 100%;
    padding: 0.5% 0;

}

main{
    flex-grow: 1;
}

h1{
 margin: 0px;
 font-size: 20px;
 color: #cdcdcd;
 text-transform: uppercase;
 width: 100%;
 margin-right: 30px;
 letter-spacing: 5px;
}

h1,p,div{
    text-align: center;
}



.container {
    display: flex;
}

.menu{
    text-align: center;
    color: #d5d0d1;
    font-size: 0.8em;    
    text-transform:capitalize;
    font-family:Microsoft JhengHei;
    cursor: pointer;
    margin-right:  30px;
}


.menu:hover{
    color: #FFFFFF;
}

.menuFoucs:focus{
    color: #FFFFFF;
}

#shoppingCart{
    position: relative;
}

#quantity{
    /* margin: 0%; */
    font-size: 0.01em;
    left: 0px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 100%; 
    color: #000000;
}
.banner{
    margin: 0;
    text-transform: uppercase;
}

.bannerImg{
    display: flex;
    position: relative;
}

 #bannerCaption{
    background-color:rgba(255, 255, 255, 0.39);
    position:absolute;
    color: #000000;
    text-align: center;
    padding: 20px 30px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

#bannerCaption strong {
    font-size: 2.5em;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 10px;
}

#bannerCaption span{
    background-color: #000000;
    color: #FFFFFF;
    padding: 5px 45px;
    font-size: 0.8em;
    
}


#bannerText{
    background-color:#e1e1e1 ;
    text-align: center;
    color: #4e4d4d;
    padding: 10px;
    font-size: 0.5em;
    letter-spacing: 3px;
    flex-grow: 1;
    margin-bottom:  20px; ;
}




.subSlogan{
    letter-spacing: 5px;
    padding:0 40%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.subSlogan p{
     margin: 0%;
     margin-bottom:10px ;
}

.subSlogan #subSlogan1{
    font-size: 2.2em;
    text-transform: uppercase;
}

.subSlogan #subSlogan2{
    font-size: 1em;
    text-transform: capitalize;
}

.productBanner{
    display: flex;
    justify-content:center;
    padding: 0 35%;
}

.productBanner div img{
    margin-right: 5px; ;
    height: 250px;
}

#sale{
    position:absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50% ,-20%);
}

#sale p{
    font-size: 25px;
    letter-spacing: 10px;
    margin: 0px;
} 



.footer{
    background-color: #303132;
    color: #FFFFFF;
    font-size: 13px;
    padding: 1% 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    letter-spacing: 0.1em;

}


.footerContentDiv{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform:uppercase;
}


.footerSubTitle{
    margin-bottom: 10px;
}

.socialMediaIcon{
    width: 100%;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
}


.socialMediaIcon img{
    width: 18px;
    height: 18px;
}



.subscribe input,button{
    display: block;
    padding: 0px;
    margin-bottom: 13px;
    border: none;
}

.subscribe input{
    width: 260px;
    height: 25px;
    background-color: #494748;
    color: #d5d0d1;
}
.subscribe input::placeholder{
    color: #d5d0d1;
    padding-left: 10px;
}
.subscribe button{
    width: 260px;
    height: 30px;
    background-color: #e1efefe1;
    color: #494748 ;
} 

.information{
    text-transform: lowercase;
    color: #FFFFFF;
}




#footerbar a{
    color: #FFFFFF;
} 

footer #footerbar{
    margin: 0px;
    padding: 1% 0%;
    font-size: 0.8em;
}




/* 
i
} 



















